@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo ao APP - Vendas WEB</h1>
    <p>Aprenda Asp.Net Core.<a href="https://docs.microsoft.com/aspnet/core"> Construa APPs com ASP.NET Core</a>.</p>
</div>
