@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Conforme a LGPD, nesta página estará sendo abordada, as principais "Políticas de Privacidade" sobre nossa aplicação e interações com os dados dos clientes.</p>

<p><a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank">Lei Nº 13.709 /18</a></p>
